body {
  margin: 0; }

.flex-container {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-align-items: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 10px;
  position: absolute;
  z-index: 2; }

.orange-bar {
  width: 100%;
  z-index: 1;
  background-color: #FF8000;
  position: absolute; }

.picture-box {
  background: url("/static/img/henrik.jpg") center center no-repeat;
  background-size: cover; }

.name-box > h1 {
  font-family: 'Maven Pro', sans-serif;
  font-size: 3em;
  color: white;
  margin: 0;
  margin-left: 1em;
  padding: 0; }

.content-box {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-align-items: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  z-index: 1;
  position: absolute; }

.ibox {
  margin: 10px; }

.fa-really-big {
  font-size: 7em; }

a:link, a:hover, a:visited, a:active {
  text-decoration: none;
  color: inherit; }

.fa-twitter-square {
  color: #469AE9; }

.fa-linkedin-square {
  color: #1971AE; }

@media (max-width: 767px) {
  .flex-container {
    height: 100px; }

  .picture-box {
    width: 100px;
    min-width: 100px;
    height: 100px;
    border-radius: 50px; }

  .orange-bar {
    height: 50px;
    margin-top: 35px; }

  .name-box > h1 {
    font-size: 2em; }

  .content-box {
    margin-top: 150px; }

  .ibox > a > img {
    width: 175px;
    height: 175px; } }
@media (min-width: 768px) {
  .flex-container {
    height: 200px; }

  .picture-box {
    width: 200px;
    min-width: 200px;
    height: 200px;
    border-radius: 100px; }

  .orange-bar {
    height: 100px;
    margin-top: 60px; }

  .content-box {
    margin-top: 250px; }

  .ibox > a > img {
    width: 200px;
    height: 200px; } }

/*# sourceMappingURL=stroem.css.map */
